<div 
    class="scheduler"
>
    <mat-grid-list
        [cols]="numCols"
        rowHeight="3em"
    >
        <mat-grid-tile
            colspan="1"
            rowspan="2"
        >
            <div>
                <mat-form-field
                    class="form-field"
                    appearance="outline"
                >
                    <mat-label>Instructor</mat-label>
                    <mat-select
                        matInput
                        [formControl] = "instructorControl"
                        (valueChange)="handleInstructorChange($event)"
                    >
                        <mat-option
                            *ngFor="let instructor of instructors"
                            [value]="instructor._id"
                        >
                            {{ instructor.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile
            colspan="1"
            rowspan="2"
        >
            <div>
                <mat-form-field
                    class="form-field"
                    appearance="outline"
                >
                    <mat-label>Date</mat-label>
                    <input
                        matInput
                        [formControl]="dateControl"
                        [matDatepicker]="picker"
                        (dateChange)="handleDateChange($event)"
                        [min]="minDate"
                    >
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile
            [colspan]="numCols"
            rowspan="2"
            *ngIf="instructorControl.value === ''"
        >
            <p>
                Select an instructor to see available times.
            </p>
        </mat-grid-tile>
        <mat-grid-tile
            [colspan]="numCols"
            rowspan="2"
            *ngIf="instructorControl.value !== '' && timeslots.length == 0"
        >
            <p>
                Sorry, looks like {{ getInstructorById(instructorControl.value).name }} does not 
                have any lesson times on {{ getDisplayDate(dateControl.value) }}.
            </p>
        </mat-grid-tile>
        <mat-grid-tile
            colspan="1"
            [rowspan]="timeslots.length + 1"
            *ngIf="instructorControl.value !== '' && timeslots.length > 0"
        >
            <div>
                <app-day-schedule
                    class="day-schedule"
                    [timeslots]="timeslots"
                    (timeslotClick)="onTimeslotClick($event)"
                ></app-day-schedule>
            </div>
        </mat-grid-tile>
        <mat-grid-tile
            colspan="1"
            rowspan="11"
            *ngIf="timeslots.length > 0"
        >
            <div>
                <app-lesson-form
                    class="lesson-form"
                    [isFormDisabled]="isFormDisabled"
                    (formSubmit)="onFormSubmit($event)"
                ></app-lesson-form>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>