<form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
>
    <mat-grid-list
        [cols]="numCols"
        rowHeight="6em"
    >
        <mat-grid-tile
            class="student-input"
            [colspan]="nameEmailColspan"
        >
            <div>
                <mat-form-field
                    class="form-field"
                    appearance="outline"
                >
                    <mat-label>Name</mat-label>
                    <input
                        matInput
                        type="text"
                        formControlName="studentName"
                    >
                    <mat-error
                        *ngIf="form.controls['studentName'].invalid &&
                            form.controls['studentName'].touched &&
                            form.controls['studentName'].errors"
                    >
                        <span *ngIf="form.controls['studentName'].errors['required']">
                            Name is required.
                        </span>
                        <span *ngIf="form.controls['studentName'].errors['minlength']">
                            Name is too short.
                        </span>
                    </mat-error>
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile
            class="student-input"
            [colspan]="nameEmailColspan"
        >
            <div>
                <mat-form-field
                    class="form-field"
                    appearance="outline"
                >
                    <mat-label>Email</mat-label>
                    <input
                        matInput
                        type="email"
                        formControlName="studentEmail"
                    >
                </mat-form-field>
                <mat-error
                    *ngIf="form.controls['studentEmail'].invalid &&
                        form.controls['studentEmail'].touched &&
                        form.controls['studentEmail'].errors"
                >
                    <span *ngIf="form.controls['studentEmail'].errors['required']">
                        Email is required.
                    </span>
                    <!-- <span *ngIf="form.controls['studentEmail'].errors['email']">
                        Not a valid email address.
                    </span> -->
                </mat-error>
            </div>
        </mat-grid-tile>
        <mat-grid-tile
            class="student-input"
            [colspan]="numCols"
            rowspan="2"
        >
            <div>
                <mat-form-field
                    class="form-field multi-row"
                    appearance="outline"
                    style="height: 80%;"
                >
                    <mat-label>Notes (optional)</mat-label>
                    <textarea
                        matInput
                        formControlName="studentNotes"
                    ></textarea>
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="numCols">
            <button
                class="form-field"
                mat-flat-button
                type="submit"
                color="primary"
                [disabled]="form.invalid || form.disabled"
            >Submit</button>
        </mat-grid-tile>
    </mat-grid-list>
</form>