@import '../../styles/mixins.scss';

.mat-grid-tile {
    div {
        width: 100%;
        height: 100%;
        @include flex-align(center, center);
    }
}

.form-field {
    width: 100%;
    height: 50%;
}

.mat-flat-button {
    color: white;
}